<div class="page-section clearfix">
    <div class="container" id="containerView">
        <div id="kermitImage">
            <img src="/images/errorKermit.png" />
        </div>
        <div id="textContent" class="col-6 float-right">
            <span class="title">Ops!</span><br />
            <span class="subtitle">Essa página não existe, e como pode ver alguém além de você está surpreso...</span>
        </div>
    </div>
</div>
