@page "/"
@page "/Home"
@inject IJobService JobService

<Header Title="Vagas disponíveis"></Header>
<div class="container-fluid w-100">
    <div class="mt-3">
        @if (JobsPaginated.Data.Count() > 0)
        {
            foreach (var job in JobsPaginated.Data)
            {
                <JobResumeHome Job="job"></JobResumeHome>
            }
        }
        else
        {
            <div class="alert alert-dark w-75 m-auto" role="alert">
                Nenhuma vaga pendente foi localizada.
            </div>
        }
    </div>
    <FooterPagination TotalPages="JobsPaginated.TotalPages" Function="GetJobs"></FooterPagination>
</div>

@code {        

    public PaginationResponse<JobVacancy> JobsPaginated = new PaginationResponse<JobVacancy>();

    public async Task GetJobs(PaginationRequest request)
    {
        JobsPaginated = await JobService.GetHomeJobs(request);
        StateHasChanged();
    }
}