@page "/login"

@inject ILoginService loginService

<div class="container-fluid text-center w-50">
    <EditForm Model="request" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Faça o login</h1>

        <label for="inputEmail" class="sr-only">Login</label>
        <input id="inputEmail" class="form-control" placeholder="Login" @bind-value="request.Login" required autofocus>

        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Senha" @bind-value="request.Password" required>

        <button class="btn btn-lg btn-primary btn-block mt-3" @onclick=@SaveItem>Entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021-@DateTime.Now.Year</p>
    </EditForm>
</div>

@code {
    public LoginRequest request = new LoginRequest();

    private async Task SaveItem()
    {
        var response = await loginService.Login(request);
        Console.WriteLine(response.JwtResponse);
    }
}
