<footer class="mt-3">
    <hr class="my-auto">
    <div class="row m-3">
        <div class="text-muted text-center font-weight-bold col-4 mt-4">Desenvolvido por Lucas Vieira Vicente</div>
        <div class="text-muted text-center font-weight-bold col-4 mt-4">&copy; 2021-@DateTime.Now.Year</div>
        <div class="text-muted col-4">
            <div class="text-center font-weight-bold w-100">Contatos do desenvolvedor</div>
            <div class="text-center font-weight-bold w-100">
                <a class="btn btn-outline-dark ml-1 mr-1" href="https://api.whatsapp.com/send?phone=5511983773017&text=Olá%20,%20tudo%20bem?%20Te%20encontrei%20pelo%20sistema%20Fatec%20Maua%20Newsletter" target="_blank"><i class="fab fa-fw fa-whatsapp"></i></a>
                <a class="btn btn-outline-dark ml-1 mr-1" href="https://www.linkedin.com/in/lucas-vieira-vicente-885726127/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-dark ml-1 mr-1" href="https://github.com/lucasvieiravicente" target="_blank"><i class="fab fa-fw fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>

@code {

}
