@inject ICookieService CookieService
@inject IJSRuntime IJSRuntime
@inject SweetAlertService Swal
@inject NavigationManager navManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Fatec Mauá Vagas</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    @* Menu Login *@
    <NavGroupLogin Id="navMenuLogin"></NavGroupLogin>

    @* Menu students *@
    <NavGroupStudent Id="navMenuStudent" Logout="Logout"></NavGroupStudent>

    @* Menu admin *@
    <NavGroupAdmin Id="navMenuAdmin" Logout="Logout"></NavGroupAdmin>
</div>

@code {
    private bool collapseNavMenu = true;
    private UserLogged user;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string token = await IJSRuntime.InvokeAsync<string>("getJwtToken");

            if (!string.IsNullOrEmpty(token))
            {
                HttpUtils.JwtToken = token;
                user = await CookieService.VerifyToken();
            }

            await ChangeNavMenu();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await IJSRuntime.InvokeVoidAsync("enableLoginNavMenu");
        }
    }

    private async Task ChangeNavMenu()
    {
        if (user.IsLogged)
        {
            if (user.IsAdmin)
                await IJSRuntime.InvokeVoidAsync("enableNavAdminLogged");
            else
                await IJSRuntime.InvokeVoidAsync("enableNavStudentLogged");
        }
        else
        {
            await Logout();
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public async Task Logout()
    {
        SweetAlertResult result = await Swal.FireAsync(CustomAlert.Alert("Deseja se deslogar?"));

        if (result.IsConfirmed)
        {
            CookieService.DeleteToken();
            await IJSRuntime.InvokeVoidAsync("deleteJwtToken");
            await IJSRuntime.InvokeVoidAsync("enableLoginNavMenu");
            navManager.NavigateTo("/Home");
        }
    }
}
